---
eleventyExcludeFromCollections: true
---

<ul>
{% for post in collections.photo %}
  <li>
  <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>

  << LiquidShortcode that returns a picture element with different image sizes >>
  
  </li>
{% endfor %}
</ul>